.component_start-loader {
	@keyframes loader {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(100%);
		}
	}

	@keyframes loader_2 {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-100%);
		}
	}

	transition: 0.5s;
	width: 110vw;
	height: 100vh;
	z-index: var(--z-start-loader);
	position: fixed;
	top: 0;
	right: 0;
	pointer-events: none;

	&::after,
	&::before {
		content: "";
		position: fixed;
		width: 100vw;
		height: 50vh;
		left: 0;
		background: #209cc9;
	}

	&::after {
		bottom: 0;
		animation: loader 1.2s 0.4s forwards ease-in-out;
	}

	&::before {
		top: 0;
		animation: loader_2 1.2s 0.4s forwards ease-in-out;
	}

	&__body {
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: var(--z-start-loader);
		top: 0;
		right: 0;

		&::after,
		&::before {
			content: "";
			position: fixed;
			width: 100vw;
			height: 50vh;
			left: 0;
			background: #0150d74d;
		}

		&::after {
			bottom: 0;
			animation: loader 1.2s forwards ease-in-out;
		}

		&::before {
			top: 0;
			animation: loader_2 1.2s forwards ease-in-out;
		}
	}

	&.purple {

		&::after,
		&::before {
			background: #4b78c5;
		}

		.component_start-loader__body {

			&::after,
			&::before {
				background: #0150d793;
			}
		}
	}
}