.component_start-loader {
	@keyframes loader {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-100%);
		}
	}

	background: #209cc9;
	transition: 0.5s;
	width: 100vw;
	height: 100dvh;
	z-index: var(--z-start-loader);
	position: fixed;
	top: 0;
	left: 0;

	animation: loader 1.4s 0.3s forwards ease-in-out;

	&__body {
		background: #0150d74d;
		width: 100vw;
		height: 100dvh;
		z-index: var(--z-start-loader);
		top: 0;
		left: 0;

		animation: loader 1.2s 0.3s forwards ease-in-out;
	}
}